.searchReservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px 35px;
    margin-top: 10px;
    transition: 1s;
    width: 660px;
}

.field {
    padding: 15px 35px;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
}

.idNumber {
    padding: 5px 10px;
}

.details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.searchButton {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 8px;
}

.carCard {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}