<div class="navbar">
    <a class="name">
        Car Rental App
    </a>
    <a routerLink="/home">
        Home
    </a>
    <a routerLink="/models">
        Models
    </a>
    <a *ngIf="userLogged" routerLink="/new-reservation">
        New booking
    </a>
    <a *ngIf="userLogged" routerLink="/login">
        My bookings
    </a>
    <a *ngIf="userLogged && isAdmin">
        Return car
    </a>
    <a routerLink="/login" *ngIf="!userLogged" class="login">
        Login
    </a>
    <a (click)="onLogout()" *ngIf="userLogged" class="logout">
        Logout
    </a>
</div>
