<app-navbar></app-navbar>
<div class="logged" *ngIf="isLogged; else loggedOut">
    <div class="searchReservation">
        <h2>Search for a reservation</h2>
            <div class="field">
                <form class="searchReserve" [formGroup]="reservationForm" (ngSubmit)="getReservation(reservationForm.value)">
                    <label for="id">Reservation Id:  </label>
                    <input type="number" name="id" placeholder="id" class="idNumber" formControlName="id">
                    <input type="submit" value="SEARCH" class="searchButton">
                </form>
            </div>
            <div class="details" *ngIf="reservation != null">
                <h3>Reservation code: {{reservation.reservationId}}</h3>
                <h3>Start date: {{reservation.startDate}}</h3>
                <h3>End date: {{reservation.endDate}}</h3>
                <h3>Reservation date: {{reservation.reservationDate}}</h3>
                <app-car-details [car]="reservation.carId" class="carCard"></app-car-details>
                <h2>Total amount: ${{reservation.totalAmount}}</h2>
            </div>
    </div>
</div>

<ng-template #loggedOut>
    <div class="loginForm">
        <div class="title">
            <h2> Login </h2> 
        </div>
        <div class="formContainer">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="formLogin">
                <label class="Label" for="usernameText">
                    Username
                </label>
                <input type="text" name="usernameText" formControlName="username">
                <label class="Label" for="password">
                    Password
                </label>
                <input type="password" name="password" formControlName="password">
                <div class="loginButton">
                    <input type="submit" class="logInButton" value="LOGIN">
                </div>
            </form>
        </div>
        <div class="createUser">
            <h4>Don't have an account? Create a new one</h4>
            <button class="createButton" routerLink="/register">Sing Up</button>
        </div>
    </div>
</ng-template>
