.loginForm {
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    width: 400px;
    padding: 10px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255,255,255, .5),
    6px 6px 8px rgba(255,255,255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.loginButton {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logInButton {
    color: #efefef;
    background-color: #06283d;;
    width: 25%;
    height: 40px;
    transition: 0.5s;
    border-radius: 7px;
    border: 0px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255,255,255, .5),
    6px 6px 8px rgba(255,255,255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.formLogin .logInButton:hover {
    transform: scale(1.10);
}

.createUser {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.createUser h4 {
    width: fit-content;
    font-size: 10pt;
}

.createButton {
    padding: auto;
    background-color: #efefef;
    color: #06283d;;
    width: 25%;
    height: 40px;
    transition: 0.5s;
    border-radius: 7px;
    margin: 15px 5px;
    border: 0px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255,255,255, .5),
    6px 6px 8px rgba(255,255,255, .075),
    6px 6px 10px rgba(0, 0, 0, .15);
}

.createButton:hover {
    transform: scale(1.10);
}