<app-navbar></app-navbar>
<div class="logged" *ngIf="isLogged; else loggedOut">
    <app-search-reservation></app-search-reservation>
</div>

<ng-template #loggedOut>
    <div class="loginForm">
        <div class="title">
            <h2> Login </h2> 
        </div>
        <div class="formContainer">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="formLogin">
                <label class="Label" for="usernameText">
                    Username
                </label>
                <input type="text" name="usernameText" formControlName="username">
                <label class="Label" for="password">
                    Password
                </label>
                <input type="password" name="password" formControlName="password">
                <div class="loginButton">
                    <input type="submit" class="logInButton" value="LOGIN">
                </div>
            </form>
        </div>
        <div class="createUser">
            <h4>Don't have an account? Create a new one</h4>
            <button class="createButton" routerLink="/register">Sing Up</button>
        </div>
    </div>
</ng-template>
